<%# This is the page for luthier's products with contact %>

<%= render "shared/chose_nav" %>

<%= render "shared/contact_show" %>
<%= render "shared/products_content" %>

<%# <h1>Luthiers#edit</h1>
<p>Find me in app/views/luthiers/edit.html.erb</p> %>