<%# This is the page for luthier's product with contact %>

<%= render "shared/chose_nav" %>

<%# @c.name %>
<%= render "shared/contact_show" %>
<%= render "shared/products_content" %>

<%# params[:id] %>


<%# <h1>Luthiers#show</h1>
<p>Find me in app/views/luthiers/show.html.erb</p> %>