<%# This is the page for musician's media with contact %>

<%= render "shared/chose_nav" %>

<%= render "shared/contact_show" %>
<%= render "shared/media_content" %>

<%# <h1>Musicians#show</h1>
<p>Find me in app/views/musicians/show.html.erb</p> %>