<%# <h1>SubscribeLuthiers#index</h1>
<p>Find me in app/views/subscribe_luthiers/index.html.erb</p> %>

<%# Current subscribing functionalities is operated in products and media pages' subscribing/cancel button, data saved at backend %>