<%# This is the page for showing contacts %>
<%= render "shared/chose_nav" %>


<%= render "shared/contacts_content" %>

<%# <h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p> %>
