<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<% if current_user.luthier != nil %>
<%= render "shared/nav_luthier" %>
<% elsif current_user.musician != nil %>
<%= render "shared/nav_luthier" %>
<% else %>
<%= render "shared/nav_user" %>
<% end%>