/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 
body {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    
    
}
.bodygrid {
    display: grid;
    grid-template-areas: 
        "menu menu menu menu"
        "welcome welcome welcome welcome"
        "content content content content";
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 10%,10%,80%;
    width: 100vw;
}
.gridnav {
    grid-area: menu;
}
.gridconent {
    grid-area: content;
}
.gridwelcome {
    grid-area: welcome;
} */

/* .navedit {
    grid-column: 1/2;
}
.navhome {
    grid-column: 2/4;
}
.navbrowse {
    grid-column: 4/5;
} */


/* 
.drop-down-menu .topoption, .drop-down-menu li {
    margin: 0;
    padding: 0;
    
    
}
.drop-down-menu ul {
    list-style: none;
    width: 100%;
    background: white;
}
.drop-down-menu li {
    float: none;
    position: relative;
    width: auto;
}
.drop-down-menu a {
	display: block;
	font: bold;
    padding: 1em 1em;
    font-size: 2em;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}
.drop-down-menu li:hover a{
    background: white;
    width: 40vw;
}

.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 4em;
    visibility: hidden;
    z-index: 1;
    width: 30vw;
}
li:hover ul.submenu {
	opacity: 1;
	top: 4em;
	visibility: visible;
}
.submenu li {
	float: none;
    width: 100%;
    list-style: none;
}
.submenu li a:hover {
	background: orange;
}
*/