<%# <h1>SubscribeProducts#edit</h1>
<p>Find me in app/views/subscribe_products/edit.html.erb</p> %>

<%# Current subscribing functionalities is operated in products and media pages' subscribing/cancel button, data saved at backend %>