<%# This is the page for showing specific product %>

<%= render "shared/chose_nav" %>

<%= render "shared/products_content" %>

<%# <h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p> %>

